<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>got the data </p>
    <h1>host :</h1>
    <h2>{{message['host']}}</h2>
    <h1>username :</h1>
    <h2>{{message['username']}}</h2>
    <h1>password :</h1>
    <h2>{{message['password']}}</h2>
    <h1>port :</h1>
    <h2>{{message['port']}}</h2>
    <h1>path :</h1>
    <h2>{{message['path']}}</h2>
    <h1>st type :</h1>
    <h2>{{message['st_type']}}</h2>

    <!-- {% for dict_item in parent_list %}
    {% for key, value in dict_item.items() %}
    <h1>Key: {{key}}</h1>
    <h2>Value: {{value}}</h2>
    {% endfor %}
    {% endfor %} -->
</body>

</html>